.chat-box {
	ul {
    list-style: none;
    margin: 0;
	}
	img {
    vertical-align: middle;
	}
	img {
    border-style: none;
	}
	img {
			max-width: 100%;
	}
	img {
			border: 0;
	}
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
	}
	p {
    margin-top: 0;
	}
	[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
	overflow: visible;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-size: inherit;
}
button {
	border-radius: 0;
}
button {
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
}
button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
button:hover {
	background: rgba(0, 0, 0, 0.1);
}
	.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
	}
	.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.btn {
		margin-bottom: 0;
	}
	.btn-outline-primary {
    color: #23537a;
    background-color: transparent;
    background-image: none;
    border-color: #23537a;
	}
	.btn-outline-primary:focus, .btn-outline-primary:hover {
    background: #23537a;
    border-color: #23537a;
    box-shadow: none;
    color: #fff;
	}
	.btn:focus, .btn:hover {
    text-decoration: none;
	}
	.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
	}
	.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(35,83,122,.25);
	}
	.btn-outline-primary:hover {
    color: #fff;
    background-color: #23537a;
    border-color: #23537a;
	}
	.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(35,83,122,.5);
	}
	.btn:focus, .btn:hover {
    text-decoration: none;
	}

	.chat-footer svg+svg, 
	.open svg:first-child {
    opacity: 0;
    -webkit-transform: rotate(30deg) scale(0);
    transform: rotate(30deg) scale(0);
	}
	.open svg+svg {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
	}
	.chat-footer svg+svg,
	.open svg+svg,
	.open svg:first-child {
    transition: opacity .08s linear 0s,-webkit-transform .16s linear 0s;
    transition: transform .16s linear 0s,opacity .08s linear 0s;
    transition: transform .16s linear 0s,opacity .08s linear 0s,-webkit-transform .16s linear 0s;
	}
	.chat-window {
		width: 376px;
    min-height: 250px;
    max-height: 606px;
    box-shadow: 0 5px 40px rgba(0,0,0,.16);
    border-radius: 8px;
    overflow: hidden;
    right: 20px;
    position: fixed;
    z-index: 2147483000;
    height: calc(100vh - 120px);
    background: #fff;
    transition: all .5s;
    visibility: hidden;
    display: none;
    opacity: 0;
		bottom: 85px;
		overflow-y: auto;
		.chat-conversation {
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: absolute;
			.chat-head {
				position: relative;
				min-height: 75px;
				background: #23537a;
				color: #fff;
				height: 220px;
				transition: all .8s;
				.chat-head-view-enter {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					padding: 24px 40px;
					box-sizing: border-box;
					.chat-head-view-head {
						opacity: .8;
						h3 {
							font-size: 25px;
						}
					}
				}
			}
			.chat-body {
				position: relative;
				flex: 1;
				background-color: #fff;
				box-shadow: inset 0 21px 4px -20px rgba(0,0,0,.2);
				.body-fixed {
					z-index: 2147483002;
					position: absolute;
					top: -50px;
					left: 0;
					right: 0;
					bottom: 0;
					.body-main {
						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						padding: 0 16px;
						min-height: 100%;
						.body-main-wrap {
							flex: 1 0 auto;
							.body-main-card {
								.body-main-conve {
									margin-bottom: 17px;
									background-color: #fff;
									border-radius: 3px;
									font-size: 14px;
									line-height: 1.4;
									color: #0c131c;
									overflow: hidden;
									position: relative;
									box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #587c9a;
									.body-main-content {
										line-height: 1.5;
										.body-main-con{
											.body-main-con-mid {
												padding: 10px 24px;
												height: 300px;
												overflow-y: auto;
												.main-con-list {
													padding: 10px 24px;
													margin: 0 -24px;
													display: flex;
													flex-direction: row;
													flex-wrap: nowrap;
													align-items: center;
													align-content: stretch;
													position: relative;
													cursor: pointer;
													transition: all .3s;
													.con-list-left {
														flex: 0 0 auto;
														.list-img {
															overflow: hidden;
															border-radius: 50%;
															width: 50px;
															height: 50px;
															img {
																width: 50px;
																height: 50px;
																line-height: 50px;
																background-color: #23537a;
															}
														}
													}
													.con-list-right {
														flex: 1;
														padding-left: 16px;
														.con-list-meta {
															display: flex;
															justify-content: space-between;
															margin-bottom: 0;
															.con-list-body-author {
																font-size: 14px;
																overflow: hidden;
																text-overflow: ellipsis;
																white-space: nowrap;
																color: #8b8e8d;
															}
															.con-list-body-timestamp {
																font-size: 14px;
																overflow: hidden;
																text-overflow: ellipsis;
																white-space: nowrap;
																color: #8b8e8d;
																text-align: right;
															}
														}
														.con-list-content {
															.con-list-in {
																color: #8b8e8d;
																font-size: 13px;
																display: flex;
																.con-list-in-l {
																	flex: 0 0 auto;
																	color: #0c131c;
																	white-space: pre;
																	display: inline-block;
																}
																.con-listi-in-r {
																	white-space: nowrap;
																	overflow: hidden;
																	text-overflow: ellipsis;
																	font-style: italic;
																	color: #0c131c;
																	padding-right: 2px;
																}
															}
														}
													}
												}
											}
										}
									}
									.body-main-footer {
										padding: 0 20px 20px;
										margin-top: 15px;
										font-family: "Nunito" !important;
									}
								}
							}
						}
					}
				}
			}
		}
		&.chat-window-open {
			visibility: visible;
			display: unset;
			opacity: 1;
			bottom: 100px;
			
			&.inner-open{
				.body-main-chat {
					opacity: 1!important;
					visibility: visible!important;
				}
				.body-main-conve,
				.chat-head-view-head {
					opacity: 0!important;
					visibility: hidden!important;
				}
				.chat-head {
					min-height: inherit;
					height: 80px!important;
				}
			}
			.body-main-chat {
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				height: calc(100% - 50px);
				background: #f3f6f8;
				.body-expand-header {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: center;
					align-content: stretch;
					position: absolute;
					top: -63px;
					left: 0;
					right: 0;
					.body-expand-back {
						width: 51px;
						height: 51px;
						text-align: center;
						line-height: 35px;
						border-radius: 8px;
						margin-left: 8px;
						transition: all .2s;
						&:hover {
							background: rgba(0,0,0,.1);
						}
						button {
							background: none;
							color: #fff;
							border: none;
							cursor: pointer;
							width: 100%;
							padding: 0;
							line-height: 55px;
						}
					}
					.body-expand-team {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						align-content: stretch;
						position: relative;
						cursor: pointer;
						flex: 1;
						padding-left: 10px;
						.body-expand-teamimg {
							border: 2px solid #0071b2;
							width: 38px;
							height: 38px;
							border-radius: 50%;
							flex: 0 0 auto;
							img {
								border-radius: 50%;
							}
						}
						.body-expand-teamname {
							flex: 1;
							padding-left: 10px;
							h4 {
								font-size: 16px;
								color: #fff;
								line-height: 1.1em;
								white-space: nowrap;
								overflow: hidden;
								margin-bottom: 0;
								text-overflow: ellipsis;
							}
							p {
								font-size: 14px;
								margin-bottom: 0;
								color: hsla(0,0%,100%,.7);
								line-height: 15px;
							}
						}
					}
				}
				.body-conversation-middle {
					height: calc(100% - 56px);
					transition: height .16s ease-out;
					overflow-y: auto;
					overflow-x: hidden;
					ul {
						padding: 24px 24px 0;
						li {
							display: flex;
							margin-bottom: 15px;
							.user-comment-middle {
								display: inline-block;
								width: 100%;
								.user-comment-middle-inner {
									float: right;
									padding-left: 48px;
									width: calc(100% - 48px);
									p {
										margin: 0;
										padding: 14px 20px;
										border-radius: 5px;
										position: relative;
										display: inline-block;
										width: auto;
										max-width: 75%;
										font-size: 14px;
										float: right;
										background-color: #23537a;
										color: #fff;
										&:after {
											width: 0;
											height: 0;
											content: "";
											top: 0;
											right: -10px;
											position: absolute;
											border-color: #23537a transparent transparent;
											border-style: solid;
											border-width: 13px 13px 0 0;
										}
									}
								}
							}
							.admin-comment-area.user-comment-middle {
								.user-comment-middle-inner {
									float: left;
									padding-right: 48px;
									padding-left: 0;
									width: calc(100% - 48px);
									p {
										float: left;
										background-color: #fff;
										color: #222;
										&:after {
											width: 0;
											height: 0;
											content: "";
											top: 0;
											left: -10px;
											position: absolute;
											border-color: transparent #fff transparent transparent;
											border-style: solid;
											border-width: 0 13px 13px 0;
										}
									}
								}
							}
						}
					}
				}
				.body-conversation-footer {
					.body-conversation-inner {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						min-height: 56px;
						max-height: 200px;
						border-top: 1px solid #e6e6e6;
						textarea {
							box-sizing: border-box;
							padding: 18px 72px 18px 29px;
							width: 100%;
							height: 100%;
							font-size: 14px;
							line-height: 1.33;
							background-color: #fff;
							white-space: pre-wrap;
							word-wrap: break-word;
							position: absolute;
							bottom: 0;
							left: 0;
							color: #000;
							resize: none;
							border: 0;
							transition: background-color .2s ease,box-shadow .2s ease;
							&:focus {
								background-color: #fff;
								box-shadow: 0 0 100px 0 rgba(0,0,0,.1);
								outline: none;
							}
						}
						.body-conversation-button {
							position: absolute;
							top: 0;
							right: 15px;
							z-index: 1;
							.body-button-upload {
								display: inline-block;
								height: 54px;
								line-height: 55px;
								label {
									cursor: pointer;
									margin: 0;
									svg {
										color: #737376;
										opacity: .8;
									}
								}
								input {
									display: none;
								}
									
							}
							.body-conversation-submit {
								display: inline-block;
								height: 54px;
								line-height: 55px;
								button {
									padding-left: 8px;
									padding-right: 8px;
									top: 1px;
									background: no-repeat;
									border: none;
									cursor: pointer;
									svg {
										color: #23537a;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.chat-footer {
		bottom: 20px;
		right: 20px;
		box-shadow: 0 1px 6px 0 rgba(0,0,0,.06), 0 2px 32px 0 rgba(0,0,0,.16);
		z-index: 2147483000;
		position: fixed;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: #fff;
		-webkit-animation: animation-et42f5 .25s ease 0s 1 normal none running;
		animation: animation-et42f5 .25s ease 0s 1 normal none running;
		text-align: center;
		line-height: 66px;
		font-size: 25px;
		color: #23537a;
		cursor: pointer;
		svg {
			position: absolute;
			line-height: 60px;
			opacity: 1;
			-webkit-transform: rotate(0deg) scale(1);
			transform: rotate(0deg) scale(1);
			transition: opacity .08s linear 0s,-webkit-transform .16s linear 0s;
			transition: transform .16s linear 0s,opacity .08s linear 0s;
			transition: transform .16s linear 0s,opacity .08s linear 0s,-webkit-transform .16s linear 0s;
			&:first-child {
				top: 18px;
    		left: 18px;
			}
			&:nth-child(2) {
				top: 17px;
    		left: 22px;
			}
		}
	}

}