a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Source Sans Pro, sans-serif !important;
  font-size: 14px;
  color: #565a5c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 0;
}

.panel-dark,
.panel-header {
  background-color: #e5e5e5;
}
.panel-body,
.panel-footer,
.panel-header,
ol.panel-body > li,
ul.panel-body > li {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}
.panel-body:first-child,
.panel-footer:first-child,
.panel-header:first-child,
ol.panel-body > li:first-child,
ul.panel-body > li:first-child {
  border-top: 0;
}
.panel-header {
  color: #565a5c;
  font-size: 16px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

// table
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table td a {
  color: rgba(85, 85, 85, 0.81);
}
@media (max-width: 767px) {
  .table-responsive {
    margin-bottom: 15px;
    overflow-y: hidden;
    width: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table td,
  .table-responsive > .table th {
    white-space: nowrap;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {
  font-size: 14px;
  color: rgba(85, 85, 85, 0.81);
}

table tr td .label {
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
}
table tr td .label-cancelled {
  border-color: #f44336;
  color: #f44336;
}
table tr td .label-expired {
  border-color: #ffc107;
  color: #ffc107;
}
th {
  text-align: inherit;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  border-top: 1px solid #dce0e0;
  vertical-align: top;
}
.table > thead > tr > th {
  vertical-align: bottom;
}
table tr:first-child th {
  border-top: 0;
}

// label
.label {
  font-weight: 700;
  color: #cacccd;
  color: #565a5c;
}
.label-success {
  color: #3fb34f;
}
.label-danger {
  color: #b23f42;
}
.label-warning {
  color: #ffb400;
}
.label-new {
  color: #00d1c1;
}
.label-info {
  color: #007a87;
}

dl,
ol,
ul {
  margin-bottom: 1rem;
}
dl,
ol,
ul {
  margin-top: 0;
}
// ul
.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// space
.row-space-1 {
  margin-bottom: 6.25px;
}
.row-space-4 {
  margin-bottom: 25px;
}
.p0 {
  padding: 0px;
}
