.no-pd,
ul {
  padding: 0;
}
.listing-menu-top {
  padding: 20px 0 12px;
  padding-bottom: 30px;
}
li {
  list-style: none !important;
}
.subnav.section-titles .page-container-responsive {
  display: flex;
}
.subnav {
	position: relative;
	background-color: #00293e;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.subnav[data-sticky=true].pinned, .subnav[data-transition-at] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.subnav[data-transition-at] {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	transition: opacity .2s;
}
.subnav.section-titles {
	background: transparent;
}
.subnav[data-transition-at][aria-hidden=true] {
	position: static;
	opacity: 1;
}

.list-layout,
.sidenav-list,
.subnav-list {
  margin-bottom: 0;
}
.list-layout,
.list-unstyled,
.sidenav-list,
.subnav-list {
  padding-left: 0;
  list-style: none;
}



ul.subnav-list {
  border-radius: 3px;
  width: 98.8%;
  margin-bottom: 30px !important;
  border: 1px solid #dadada;
}
.subnav-list {
  float: left;
  width: 100%;
}
.subnav.section-titles .subnav-list {
  margin: 0;
}
.subnav-item[aria-selected="true"]:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 14px;
  right: 14px;
  height: 4px;
  background: #007bbe;
}
.subnav.section-titles .subnav-list .subnav-item {
	font-size: 15px;
	letter-spacing: 0.1px;
}
.subnav.section-titles .subnav-list .subnav-item {
	padding: 8px 14px;
	background: transparent;
	color: #3f4243;
}
.subnav.section-titles .subnav-list .subnav-item:before {
  position: absolute;
  content: "";
  bottom: 0;
  background: #ddd;
  height: 2px;
  left: 0;
  right: 0;
}
.subnav.section-titles .subnav-list .subnav-item:before {
  background: none;
}
.subnav.section-titles .subnav-list .subnav-item[aria-selected="true"] {
  color: #23537a !important;
}
.subnav.section-titles .subnav-list .subnav-item:hover:before,
.subnav.section-titles .subnav-list .subnav-item[aria-selected="true"]:before {
  background: #23537a;
}
.subnav.section-titles .subnav-list .subnav-item:hover:before,
.subnav.section-titles .subnav-list .subnav-item[aria-selected="true"]:before {
  height: 2px;
  background: #0192e4;
  left: 0;
  right: 0;
}

.subnav-item,
.subnav-text {
  position: relative;
  float: left;
  padding: 10px 14px;
  color: #fff;
}
.subnav-item,
.subnav-item.icon,
.subnav-item .icon:first-child {
  color: #cacccd;
}
