.subnav {
  background-color: #003653 !important;
  padding: 7px !important;
  position: relative;
  user-select: none;
  width: 100%;
}

.subnav-list {
  float: left;
  width: 100%;
}

.list-layout, .sidenav-list, .subnav-list {
  margin: 0;
}
.list-layout, .list-unstyled, .sidenav-list, .subnav-list {
  padding-left: 0;
  list-style: none;
}
.subnav-text {
  font-size: 16px;
}
.subnav-item, .subnav-text {
  position: relative;
  float: left;
  padding: 10px 14px;
  color: #fff;
}
.list-layout, .list-unstyled, .sidenav-list, .subnav-list {
  padding-left: 0;
  list-style: none;
}
span#listing-name {
  font-family: 'Nunito' !important;
  font-weight: 600;
  font-size: 16px;
}

.nav-sections.height_adj {
  height: auto !important;
}

.margin-bot-5 {
  margin-bottom: 5px;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.nav-sections.height_adj .nav-active {
  background-color: #003653;
  font-weight: 600 !important;
}

.nav-item {
  position: relative;
}

.nav-sections.height_adj li a {
  padding: 5px 0 6px 20px;
  display: block;
  font-size: 16px;
  color: #6d7275;
  font: normal normal normal 14px/1 FontAwesome;
  position: relative;
}

.nav-sections.height_adj li {
  span.va-middle {
    color: #003653;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 23px;
    font-family: 'Nunito' !important;
  }
  i {
    color: #003653;
  }
  
}
.nav-sections.height_adj .nav-active {
  span.va-middle, i, svg {
    color: #fff;
  }
}

.pull-right.lang-left-change {
  top: 8px;
}
.pull-right.lang-left-change {
  position: relative;
  left: -13px;
}
.publish-actions {
  border-top: none !important;
  background: #f8f8f8 !important;
  padding: 22px 0;
}
.mt-2, .my-2 {
  margin-top: .5rem;
}
.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
#availability-dropdown .room_status_dropdown {
  text-overflow: ellipsis;
  width: 95px!important;
}
.select select {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 25px;
}
#availability-dropdown i {
  margin-right: 6px;
}
.dot {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #cacccd;
}
.dot-danger {
  background-color: #b23f42;
}

.my-auto {
  width: 5%;
  min-width: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.w-100 {
  width: 100%;
}
.pr-10 {
  padding-right: 10px;
}
.text-success {
  color: rgb(40, 167, 69);
}

.mb-10 {
  margin-bottom: 10px;
}
